<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <meta name="description" content="<%= locals.description %>">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

  <style>
    /* CSS styles for read-more-link class */
    .read-more-link {
      text-decoration: none;
      color: #007bff; /* Change the color to your preferred link color */
      font-weight: bold;
    }

    .read-more-link:hover {
      text-decoration: underline;
    }

    /* Additional styles for small class */
    .read-more-link.small {
      font-size: 12px;
    }

  </style>

  <!-- start navbar header -->
  <%-include('partials/header'); %>
  <!-- end navbar header -->

  <div class="container mt-4">
    <% message.forEach(element => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= element %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% }) %>
      

    <% message_edit.forEach(element => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= element %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% }) %>

    <% messageDelete.forEach(element => { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= element %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% }) %>


    <nav aria-label="breadcrumb" class="small">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house me-1"></i>Dashboard</a></li>
        <!-- <li class="breadcrumb-item"><a href="#">Data</a></li> -->
        <li class="breadcrumb-item active" aria-current="page"><%= locals.title %></li>
      </ol>
    </nav>
    <hr>

    <div class="row">
      <div class="col-2">
        <a class="btn btn-warning" data-bs-toggle="tooltip" data-bs-title="Add Book" href="/add_book">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>

      <div class="col-10 d-flex justify-content-end">
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
      </div>
    </div>


      <div class="table-responsive mt-4">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="searchTerm" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
    

          <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">Publisher</th>
                  <th scope="col" class="text-end">Action</th>
                </tr>
              </thead>
          
              <tbody>
                <% books.forEach(element => { %>
                  <tr class="align-middle">
                    <td class="text-capitalize">
                      <%
                        const maxTitleBook = 35;
                        const titleBook = element.title_book || "empty title";
                    
                        if (titleBook.length > maxTitleBook) {
                          // If the title is too long, display a truncated version with "read more" link
                          const truncatedTitle = titleBook.substring(0, maxTitleBook);
                      %>
                      
                      <%= truncatedTitle %>
                      <a href="#"data-bs-toggle="tooltip" data-bs-title="<%= element.title_book %>"  class="read-more-link small">. . . . </a>
                    
                    
                      <% } else { %>
                    
                      <%= titleBook %>
                    
                      <% } %>
                    </td>
                    <td><%= element.author %></td>
                    <td><%= element.publisher %></td>
                    <td class="text-end">
          
                      <div class="d-flex flex-row justify-content-end gap-2">
          
                        <a href="/detail_book_adm/<%= element._id %>" data-bs-toggle="tooltip" data-bs-title="Detail" type="button" class="btn  btn-primary btn-small">
                          <i class="fa-solid fa-eye small"></i>
                        </a>
          
                        <a href="/edit_book/<%= element._id %>" data-bs-toggle="tooltip" data-bs-title="Edit" type="button" class="btn  btn-warning btn-small">
                          <i class="fa-regular fa-pen-to-square small"></i>
                        </a>
          
                        <form id="deleteForm" action="/post_delete_book/<%= element._id %>" method="POST" class="position-relative">
                          <button type="submit" data-bs-toggle="tooltip" data-bs-title="Delete" class="btn btn-danger btn-small" onclick="confirmDelete()">
                            <i class="fa-solid fa-trash-can small"></i>
                          </button>
                        </form>
          
                      </div>
          
          
                    </td>
                  </tr>
                <% }) %>
              </tbody>
          </table>
      </div>


      
      <!-- Pagination halaman data buku -->
      <% if (books.length > 0) { %>
        <nav aria-label="Book Pagination">
          <ul class="pagination justify-content-center mt-5">
      
            <% if (current == 1) { %>
              <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
            <% } else { %>
              <li class="page-item"><a href="/?page=1" class="page-link">First</a></li>
            <% } %>
      
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if(i !== 1) { %>
              <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
            <% } %>
      
            <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %>
              <% if (i == current) { %>
                <li class="page-item disabled"><a href="#" class="page-link"><%= i %></a></li>
              <% } else { %>
                <li class="page-item"><a href="/?page=<%= i %>" class="page-link"><%= i %></a></li>
              <% } %>
              <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
              <% } %>
            <% } %>
      
            <% if (current == pages) { %>
              <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
            <% } else { %>
              <li class="page-item"><a href="/?page=<%= pages %>" class="page-link">Last</a></li>
            <% } %>
      
          </ul>
        </nav>
      <% } %>
  </div>

  <script>
    function confirmDelete() {
        const confirmation = confirm("Are you sure you want to delete this item?");
        if (confirmation) {
            // Submit form if user confirms
            document.getElementById("deleteForm").submit();
        }
    }
  </script>

  
  
  
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))  
  </script>
  
</body>
</html>