<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="icon" href="/assets/favicon.ico" />
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">

    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <!-- <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script> -->
    <!-- start navbar header -->
    <%-include('partials/header'); %>
    <!-- end navbar header -->

    <style>
        .custom-avatar {
            width: 20px; /* Adjust the width as needed */
            height: 20px; /* Adjust the height as needed */
            background-color: rgb(45, 118, 196);
            border-radius: 3px; /* Add border-radius for rounded corners if needed */
        }

        .border-left-primary {
            border-left: 0.25rem solid #4e73df !important;
        }

        .border-left-green {
            border-left: 0.25rem solid #99BC85 !important;
        }

        .border-left-yellow {
            border-left: 0.25rem solid #EEC759 !important;
        }

        .border-left-red {
            border-left: 0.25rem solid #FD8A8A !important;
        }

        .hidden{
            display: none;
        }

    </style>


    <div class="container mt-5 mb-5">

        <% messageNotifLogin.forEach(element => { %>
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <!-- Position it: -->
            <!-- - `.toast-container` for spacing between toasts -->
            <!-- - `top-0` & `end-0` to position the toasts in the upper right corner -->
            <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
            <div class="toast-container top-0 end-0">
                <div class="toast fade show ms-auto animate__animated animate__backInRight" role="alert" aria-live="assertive" aria-atomic="true" id="notification-toast">
                    <div class="toast-header ">
                        <div class="custom-avatar rounded me-2"></div>
                        <strong class="">Notifikasi</strong>
                        <small class="ms-auto"><span id="countdown">10</span> second ago</small>
                    </div>
                    <div class="toast-body">
                        <%= element %>
                         
                    <div class="mt-2 pt-2 border-top">
                        <!-- <button type="button" class="btn btn-primary btn-sm">Take action</button> -->
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    
        
        <div class="card">
            <div class="card-body">
                <h2>Hai <%= locals.username %></h2>
                <h4>Dashboard</h4>
                Selamat datang di aplikasi sistem informasi litlane book 
            </div>
        </div>
    
        <div class="col-lg-4 mb-4 pb-2 pt-2">
            <% messageINFOupdate.forEach(element => { %>
                <div class="col-lg-12 mb-3">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <%= element %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            <% }) %>

            <h5 class=""></h5>
            
            <ul class="list-group list-group-horizontal">
                <button type="button" id="btn-menu-ikhtisar" class="list-group-item list-group-item-action active small">Ikhtisar Data</button>
                <button type="button" id="btn-menu-music" class="text-center list-group-item list-group-item-action small">Music</button>

                <button type="button" id="btn-menu-webMain" class="text-center list-group-item list-group-item-action small">Web User</button>
            </ul>
        </div>
    
        <div class="row" id="ikhtisar-content-container">
            
            <!-- Earnings (Monthly) Card Example -->
            <!-- views/dashboard.ejs -->
            <div class="col-xl-3 col-md-6 mb-4" id="bookCountCard" hx-get="/mdERQU0pnVpHd08ifQ/adm/getTotalBooks" hx-trigger="load" hx-swap="innerHTML" hx-target="#totalBooks">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/mdERQU0pnVpHd08ifQ/adm/data_book" class="text-decoration-none">
                                        Jumlah Buku
                                    </a>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalBooks">Loading...</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-book fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4" >
                <div class="card border-left-green shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="#" class="text-decoration-none">
                                        jumlah member
                                    </a>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            </div>
                            <div class="col-auto">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- KOMENTAR Card Example -->
            <div class="col-xl-3 col-md-6 mb-4" hx-get="/mdERQU0pnVpHd08ifQ/adm/getTotalComments" hx-trigger="load" hx-swap="innerHTML" hx-target="#totalComments">
                <div class="card border-left-yellow shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a class="text-decoration-none" href="/mdERQU0pnVpHd08ifQ_comments/adm/data_comment">
                                        Komentar
                                    </a>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalComments">Loading...</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-comment-dots fa-2x "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-red shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">request buku</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">00,000</div>
                            </div>
                            <div class="col-auto">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="music-content-container" class="hidden">

            <div class="row">
                <div class="col-8 ">
                    <div class="card shadow shadow-sm col-7">
                        <div class="card-body">
                            <p class="card-text">
                                Hai, di hari ini selera lagu apa yang anda ingin dengar?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <iframe class="border-4 rounded rounded-1 shadow shadow-sm" width="100%" height="300" scrolling="yes" frameborder="yes" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/714580602&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    <div
                        style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                        
                        <a href="https://soundcloud.com/yourparadis" title="soo" target="_blank"
                            style="color: #cccccc; text-decoration: none;">soo</a> · <a
                            href="https://soundcloud.com/yourparadis/sets/jazzhip7c" title="jazzhip 7" target="_blank"
                            style="color: #cccccc; text-decoration: none;">jazzhip 7</a>\
                    </div>
                </div>
            </div>
       

        </div>

        <div id="webMain-content-container" class="hidden">

            <a href="https://litlane-book-app.vercel.app/" target="_blank"><i class="fa-solid fa-link mx-1"></i>Lihat tampilan website Litlane Book</a>
        </div>
        
    </div>


        
        
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toast = new bootstrap.Toast(document.getElementById('notification-toast'), { delay: 10000 });
            toast.show();

            var countdownElement = document.getElementById('countdown');
            var countdown = 10;

            var countdownInterval = setInterval(function () {
            countdown--;
            countdownElement.textContent = countdown;
            if (countdown <= 0) {
                clearInterval(countdownInterval);
            }
            }, 1000);
        });
    </script>

    <script>

        function ShowIkhtisarContent(){
            document.getElementById('ikhtisar-content-container').classList.remove("hidden");
            document.getElementById('music-content-container').classList.add("hidden");
            document.getElementById('webMain-content-container').classList.add("hidden");


            // Tambahkan kelas "active" pada tombol music dan hapus kelas "active" dari ikhtisar
            document.getElementById('btn-menu-ikhtisar').classList.add("active");
            document.getElementById('btn-menu-music').classList.remove("active")
            document.getElementById('btn-menu-webMain').classList.remove("active")
        }

        function ShowMusicContent(){
            document.getElementById('ikhtisar-content-container').classList.add("hidden");
            document.getElementById('music-content-container').classList.remove("hidden");
            document.getElementById('webMain-content-container').classList.add("hidden");


            // Tambahkan kelas "active" pada tombol music dan hapus kelas "active" dari ikhtisar
            document.getElementById('btn-menu-ikhtisar').classList.remove("active");
            document.getElementById('btn-menu-webMain').classList.remove("active")
            document.getElementById('btn-menu-music').classList.add("active")
        }


        function ShowIkhtisarMainUser(){
            document.getElementById('ikhtisar-content-container').classList.add("hidden");
            document.getElementById('music-content-container').classList.add("hidden");
            document.getElementById('webMain-content-container').classList.remove("hidden");


            // Tambahkan kelas "active" pada tombol music dan hapus kelas "active" dari ikhtisar
            document.getElementById('btn-menu-ikhtisar').classList.remove("active");
            document.getElementById('btn-menu-webMain').classList.add("active")
            document.getElementById('btn-menu-music').classList.remove("active")
        }




        document.addEventListener("DOMContentLoaded", function(){
            document.getElementById("btn-menu-music").addEventListener("click", function (event) {
                event.preventDefault();
                ShowMusicContent();
            });

            document.getElementById("btn-menu-ikhtisar").addEventListener("click", function (event) {
                event.preventDefault();
                ShowIkhtisarContent();
            });

            document.getElementById("btn-menu-webMain").addEventListener("click", function (event) {
                event.preventDefault();
                ShowIkhtisarMainUser();
            });
        });
    </script>


  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>