<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="icon" href="/assets/favicon.ico" />
    <meta content="description" name="<%= locals.description %>">

    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/mainPagebook.css">
</head>
<body>


    <%-include('partials/header_user'); %>
    <p class="float-end">beta version</p>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card mt-1 mx-auto" style="width: 13rem;">
                    <img src="<%= imageUrl %>" class="card-img-top mt-1 img-thumbnail" alt="...">
                </div>
            </div>
            <input type="hidden" id="bookId" value="<%= book._id%>">

            
            <!-- judul buku -->
            <div class="col-md-6">
                <h3 class="ms-2 text-capitalize"><%= book.title_book %></h3>
                
                <div class="p-2">
                    <p class="small">by <%= book.author %> (Author)</p>


                    <h6 class="mx-0 mb-3" >Deskripsi Buku</h6>
                    

                    <div class="card border-0 shadow p-2">

                        <p class="small mt-2" style="text-align: justify;">
                            <% if (book.book_description && book.book_description.trim() !== '') { %>
                                <%= book.book_description %>
                            <% } else { %>
                                <!-- Tampilkan teks "Kosong" jika deskripsi buku kosong -->
                                Kosong
                            <% } %>
                        </p>

                        <!-- <p class="small mt-2" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id quam purus. Donec tincidunt erat id libero sagittis, eget rutrum tortor aliquam. Phasellus id consectetur ligula. Sed vestibulum efficitur ipsum, id tempus justo tincidunt eget. Fusce rhoncus odio eu sollicitudin interdum.</p>
                        
                        <p class="small mt-2">
                            T-bone meatloaf boudin pancetta jowl cupim. Cupim venison shoulder brisket turducken jowl turkey salami alcatra tenderloin t-bone. Shankle chuck corned beef boudin tongue. Rump porchetta pork belly tri-tip. Boudin short loin pork sausage pancetta burgdoggen ground round shankle andouille ham hock biltong leberkas cupim cow. Ham meatball buffalo biltong, pig tongue shoulder cow.
                        </p> -->

                    </div>
                </div>
            </div>
        
            <!-- button untuk download  dan baca buku-->
            <div class="col-md-3">
                <div class="text-center mt-2">
                    <a href="<%= book.book_pdf %>" target="_blank" class="btn btn-success btn-sm">Download</a>
                </div>
        
                <div class="text-center mt-2">
                    <a href="<%= book.book_pdf %>" target="_blank" class="btn btn-success btn-sm">Read Book</a>
                </div>
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-md-12">
                <div class="card border-0 shadow">
                    <div class="card-body">

                        <h5 class="card-title" id="totalComments"><span id="totalCommentsValue">Loading...</span> Komentar</h5>

                        <hr>

                        <div id="notificationArea"></div>
                        <!-- Form input komentar -->
                        <form id="commentForm">
                            <div class="mb-3">
                                <label for="commentInput" class="form-label">Tambahkan komentar</label>
                                <textarea class="form-control" id="commentInput" name="comments_text" rows="3"></textarea>
                            </div>

                            <!-- Input tersembunyi untuk posted_book_id -->
                            <input type="hidden" id="postedBookId" name="posted_book_id" value="<%= book._id %>">

                            <button type="submit" class="btn btn-primary" id="submitBtn">Kirim</button>
                            <div id="loadingIndicator" style="display: none;">Loading...</div>
                            
                            
                        </form>
                        <hr>

                        <div class="row mt-4 justify-content-center">
                            <div class="col-md-12">
                                <div class="card border-0 shadow">
                                    <div class="card-body">
                                        <h5 class="card-title"> Komentar</h5>
                                        <hr>
                                        <!-- Form input komentar -->
                                        <!-- Form input komentar -->
                
                                        <!-- Daftar komentar -->
                                        <div id="commentSection">
                                            <!-- Daftar komentar akan ditampilkan di sini -->
                                        </div>
                                        
                                        <!-- Akhir loop komentar -->
                                    </div>
                                </div>
                            </div>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <!-- Footer -->
    <%-include('partials/footer_user'); %>
    <!-- end Footer -->
    
    <script src="/assets/js/commentsData.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>