<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="icon" href="/assets/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/mainPagebook.css">


    <!-- font import g-apis -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body style="background-color: #FFF7F1;">
    <!-- Header -->
    <%-include('partials/header_user'); %>
    <!-- Beta version -->
    <!-- <p style="color: gray;">Beta version</p> -->

    <!-- Main Content -->
    <div class="container mt-3">
        <div class="row mx-auto justify-content-center">
            <% messageSubscribe.forEach(element => { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <%= element %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% }) %>

            <% messageBookReq.forEach(element => { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <%= element %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% }) %>
            <div class="fs-1 mb-2 text-uppercase text-center fw-bold" style="font-family: 'Roboto';">
                Buku
            </div>

    
            <!-- <nav class="nav nav-pills mt-1 nav-fill">
                <div class="card mx-auto shadow border-0">
                    <div class="card-body d-flex">
                        <a class="nav-link active" aria-current="page" href="#">Programming</a>
                        <a class="nav-link" href="#">Physic</a>

                    </div>
                </div>
            </nav> -->

            <style>
                /* Font Awesome */
                @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

                /* Styling */
                #genre-section {
                    background-color: #f8f9fa;
                    padding: 20px;
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }

                .genre-list {
                    list-style-type: none;
                    padding: 0;
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    gap: 10px;
                }

                .genre-list li {
                    margin-bottom: 10px;
                }

                .genre-list li a {
                    text-decoration: none;
                    color: #333;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: #fff;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    transition: background-color 0.3s ease;
                }

                .genre-list li a:hover {
                    background-color: #e9ecef;
                }

                .genre-list li a i {
                    margin-right: 10px;
                }

            </style>

            <section id="genre-section">
                <h2>Genre</h2>
                <div>
                    <p class="text-danger">fitur genre ini belum aktif ❗❗</p>
                </div>
                <ul class="genre-list">

                    <li><a href="#technology"><i class="fas fa-laptop-code"></i> Technology</a></li>
                    <li><a href="#math"><i class="fas fa-calculator"></i> Math</a></li>
                    <li><a href="#other"><i class="fas fa-book"></i> General</a></li>
                    <li><a href="#other"><i class="fas fa-book"></i> Other</a></li>
                </ul>
            </section>

            <div class="mt-2">
                <div class="col-lg-6 mx-auto">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>

            <style>
                .card-img-top {
                    width: 100%; /* Mengisi lebar card */
                    height: 200px; /* Menentukan tinggi gambar */
                    object-fit: contain; /* Menjaga aspek rasio dan memotong gambar sesuai area */
                }
            </style>
                    

            <% books.forEach(book => { %>
                <div class="card mx-3 border-0 shadow-sm mt-3 col-sm-3" style="width: 16rem;">
                    <img src="<%= book.imageUrl %>" class="card-img-top mt-1" alt="...">
                    <div class="card-body">
                        <h6 class="card-title text-capitalize"><%= book.title_book %></h6>
                        <hr>
                        <p class="card-text small"><%= book.publisher %></p>
                        <p class="card-text small">
                            <% 
                                const maxParagraphLength = 200;
                                const bookDescription = book.book_description || "";
                                if (bookDescription.length > maxParagraphLength) {
                                    const truncatedDescription = bookDescription.substring(0, maxParagraphLength);
                            %>
                                <%= truncatedDescription %> <a href="/detail_book/<%= book._id %>" class="read-more-link">Read more...</a>
                            <% } else { %>
                                <%= bookDescription %>
                            <% } %>
                        </p>
                        <ul class="list-group list-group-horizontal justify-content-center">
                            <li class="list-group-item">
                                <a class="list-group-item-action size-book-cover-card" href="/detail_book/<%= book._id %>">Detail</a>
                            </li>
                            <li class="list-group-item">
                                <a class="list-group-item-action size-book-cover-card" href="<%= book.book_pdf %>" target="_blank">Read</a>
                            </li>
                        </ul>
                    </div>
                </div>
            <% }); %>
        </div>
        <hr>

        <!-- Pagination -->
        <% if (totalPages > 1) { %>
            <nav>
                <ul class="pagination justify-content-center mt-3">
                    <% for (let page = 1; page <= totalPages; page++) { %>
                        <li class="page-item <%= currentPage === page ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= page %>"><%= page %></a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        <% } %>

        <!-- Form permintaan ✨ -->
        <%-include('partials/form_permintaan'); %>
    </div>



    <!-- Footer -->
    <%-include('partials/footer_user'); %>
    <!-- end Footer -->



    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // Membuat referensi ke form dan input
        const form = document.getElementById('requestForm');
        const bookReqInput = document.getElementById('book_req');
        const emailInput = document.getElementById('email');
        const submitButton = document.getElementById('submitButton');

        // Menambahkan event listener untuk memeriksa input
        form.addEventListener('input', function() {
            // Mengecek apakah kedua input memiliki nilai
            if (bookReqInput.value.trim() !== '' && emailInput.value.trim() !== '') {
                // Jika iya, aktifkan tombol Kirim
                submitButton.removeAttribute('disabled');
            } else {
                // Jika tidak, nonaktifkan tombol Kirim
                submitButton.setAttribute('disabled', 'disabled');
            }
        });

        // Menambahkan event listener untuk tombol Kirim
        submitButton.addEventListener('click', function() {
            // Menambahkan kelas 'disabled' pada tombol untuk menonaktifkannya
            this.disabled = true;

            // Mengganti teks tombol dengan tombol loading
            this.innerHTML = `

            `;

            // Simulasi proses pengiriman data (Anda dapat menggantinya dengan proses yang sesuai)
            setTimeout(() => {
                // Kembalikan teks tombol dan hapus kelas 'disabled' untuk mengaktifkannya kembali
                this.innerHTML = 'Kirim';
                this.disabled = false;
            }, 3000); // Contoh: simulasi proses pengiriman selama 3 detik
        });
    </script>
</body>
</html>
